<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input type="text" placeholder="아이디" name="id" /><br />
    <input type="password" placeholder="비밀번호" name="pw" /><br />
    <button type="submit">로그인</button>
  </body>
</html>
